form{
    padding:2px;
    cursor:pointer;
    display:block;
    width:290px;
    margin: 0 auto;
    text-align:left;
}
img {
    width: 100px;
    height: 100px;
}
input[type=submit] {
    background-color: rgb(45, 93, 252);
    color: white;
}